*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.kotlin
/.zcode
/.idea

/app/release
/baselineprofile/build

# release 签名信息(含密码),仅本机
/keystore.properties
